@import "variables";

@mixin caja($width, $height, $color){
    height: $height;
    width: $width;
    color: $color;
}

@media only screen and (min-width: 320px) {

    body {
        font-family: 'Josefin Slab', serif;
        width: 100%;
    }

    input {
        margin: 0.8rem;
        padding: 0.4rem;
    }

    .presentacion {
        margin: none;
        padding: none;
    }

    .presentacion__titulo {
        color: $verde-agua;
        font-size: $tamaño;
        text-transform: uppercase;
        font-weight: 700;
        font-style: italic;
        letter-spacing: 0.188rem;
        padding: 1.875rem;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
        text-align: center;
        margin-top: 2rem;
    }

    .presentacion__subtitulo {
        color: $verde-agua;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
        font-style: italic;
        letter-spacing: 0.188rem;
        padding: 1.875rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .presentacion__subtitulo--subrayado {
        text-decoration: underline;
    }

    .presentacion__h3 {
        color: $verde-militar;
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.188rem;
        padding: 1.875rem;
        text-align: center;
        display: flex;
        justify-content: center;
        width: auto;        
    }

    .presentacion__h3--subrayado {
        text-decoration: underline;
    }

    .presentacion__h3--blanco {
        color: white;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    header {
        grid-area: header;
    }

    .horizontal {
        width: 100%;
    }
    section#presentacion {
        grid-area: presentacion;
    }
    section#seccion {
        grid-area: seccion;
    }

    section#servicios {
        grid-area: servicios;
    }
    .div__guia {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
    }

    .div__h5 {
        color: black;
        padding-top: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.188rem;
        text-decoration: underline;
        font-weight: 700;
        font-size: $tamaño;
        text-align: center;        
    }

    .div__preguntas {
        letter-spacing: 0.188rem;
        font-size: $tamaño;
        text-align: center;
        padding: 2rem;
        width: 23rem;
    }

    h4 {
        font-size: 1.3rem;
        color: white;
        text-align: center;
        padding: 2rem;
        padding-bottom: 0;
        text-transform: uppercase;
    }

    p {
        font-size: 1rem;
        margin: 2rem;
        letter-spacing: 0.05rem;
        text-align: justify;
        color: white;
        line-height: 1.3rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .box {
        @include caja (15rem, 18rem, $celeste);
        border: outset 0.188rem #8bc5b7;
        border-radius: 0.313rem;
        padding: $tamaño;
        width: 100%;
        font-variant: small-caps;
        font-size: $tamaño/2;
        display: flex;
        flex-wrap: wrap;   
        justify-content: center;
    }

    .Derecha {
        text-align: right;
    }

    .Centrar {
        text-align: center;
    }

    #caja {
        @include caja(17rem, 18rem, $celeste);
        font-variant: small-caps;
        font-size: $tamaño;
        letter-spacing: 0.188rem;
        margin: 3.2rem;
        display: inline-block;
    }

    section#informacion {
        grid-area: informacion;
    }

    .gallery-container p.page-description {
        text-align: center;
        max-width: 800px;
        margin: 25px auto;
        color: #888;
        font-size: 18px;
    }
    
    .tz-gallery {
        padding: 40px;
    }
    
    .tz-gallery .lightbox img {
        width: 100%;
        margin-bottom: 30px;
        transition: 0.2s ease-in-out;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }
    
    .tz-gallery .lightbox img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    }
    
    .tz-gallery img {
        border-radius: 4px;
    }

    .footer {
        width: 100%;
        font-variant: small-caps;
        color: $marron;
        grid-area: footer;
        display: flex;
        justify-content: center;
        padding: 1.5rem;
    }

    .footer__parrafo {
        font-weight: 700;
        color: black;
        font-size: 1rem;
        letter-spacing: 0.03rem;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .flex-container1 {
        /*entiendo que row viene por default pero igual lo coloco*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    section#formulario {
        grid-area: formulario;
    }

    .flex-container3 {
        display: flex;
        justify-self: center;
        flex-wrap: wrap;
    }
    form {
        padding: $tamaño;
    }

    .separado {
        margin-bottom: 0.3rem;
        margin-top: 0.3rem;
        margin-left: 0.7rem;
    }

    .carousel {
        padding: 0.6rem;
    }

    .boton {
        border: solid $verde-oscuro;
        border-radius: 3px;
        width: 10rem;
        margin-left: 7rem;
        text-align: center;
    }
}

@media only screen and (min-width: 400px) and (max-width: 599px) {

    .box {
        margin-bottom: 1rem;
    }

    .div__preguntas {
        width: 100%
    }

    .presentacion__titulo {
        font-size: 1.2rem;
    }

    .presentacion__subtitulo {
        font-size: 1rem;
    }

    #caja {
        @include caja(21rem, 21rem, $celeste);
        margin: none;
        width: 79%;
    }

    form {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {

    body {
        line-height: 30px;
        width: 100%;
    }

    .presentacion__titulo {
        font-size: 2.813rem;
        display: flex;
        justify-content: center;        
    }

    .presentacion__subtitulo {
        font-size: 1.688rem;  
        margin-left: 2rem;      
    }

    .presentacion__h3 {
        font-size: 1.563rem;
    }

    .presentacion__h3--blanco {
        color: white;
        text-align: center;
        font-size: 1.2rem;
    }
    
    input {
        margin: none;
        padding: none;
    }

    .box {
        @include caja (auto, 16rem, $celeste);
        font-size: 1rem;
        width: 100%;
    }

    .div__guia {
        display: grid;
        grid-gap: 0.625rem;
        margin: 1rem; 
    }
    
    .div__h5 {
        font-weight: 700;        
    }
    
    #caja {
        @include caja (auto, 10rem, $celeste);
        font-size: 1.5rem;
    }

    .div__preguntas {
        padding: 2rem;
        width: 38rem;
        margin-left: 0rem;
        margin: auto;
    }

    h4 {
        margin: none;
    }

    p {
        line-height: 2rem;
    }

    .footer {
        padding: 2rem;
    }

    .footer__parrafo {
        font-variant: small-caps;
        font-size: 1.438rem;
        letter-spacing: 0.063rem;
    }

    .flex-container1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    form {
        padding: 2rem;
    }

    .separado {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    select {
        margin-left: 0.9rem;
    }

    textarea {
        margin-left: 0.9rem;
    }

    .tamaño {
        width: 70%;
    }

    label {
        font-size: 1.7rem;
    }

    .boton {
        margin-left: 19rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .presentacion__titulo {
        font-size: 2.813rem;
        display: flex;
        justify-content: center;        
    }

    .presentacion__subtitulo {
        font-size: 1.688rem;  
        margin-left: 2rem;      
    }

    .presentacion__h3 {
        font-size: 1.563rem;
    }

    .presentacion__h3--blanco {
        color: white;
        text-align: center;
        font-size: 1.2rem;
    }
        
    input {
        margin: none;
        padding: none;
    }

    .box {
        @include caja (auto, 16rem, $celeste);
        font-size: 1rem;
        width: 100%;
    }

    .div__guia {
        display: grid;
        grid-gap: 0.625rem;
        margin: 1rem; 
    }
        
    .div__h5 {
        font-weight: 700;        
    }
        
    #caja {
        @include caja (auto, 10rem, $celeste);
        font-size: 1.5rem;
    }

    .div__preguntas {
        padding: 2rem;
        width: 38rem;
        margin-left: 0rem;
        margin: auto;
    }

    h4 {
        margin: none;
    }

    p {
        line-height: 2rem;
    }

    .footer {
        padding: 2rem;
    }

    .footer__parrafo {
        font-variant: small-caps;
        font-size: 1.438rem;
        letter-spacing: 0.063rem;
    }

    .flex-container1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    form {
        padding: 2rem;
    }

    .separado {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    select {
        margin-left: 0.9rem;
    }

    textarea {
        margin-left: 0.9rem;
    }

    .tamaño {
        width: 70%;
    }

    label {
        font-size: 1.7rem;
    }
    
    .boton {
        margin-left: 19rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1060px) {

    body {
        line-height: 30px;
        width: 100%;
    }

    .espacio {
        font-size: 1.5rem;
    }
    
    .box {
        @include caja (100%, auto, $celeste);
        padding: 1.25rem;
        font-size: 1rem;
    }

    .presentacion__titulo {
        font-size: 2.813rem;
    }

    .presentacion__subtitulo {
        font-size: 1.8rem;
    }

    .presentacion__h3 {
        font-size: 1.6rem;
    }

    .div__guia {
        display: grid;
        grid-gap: 0.625rem;
        margin: 2.5rem; 
    }

    #caja {
        @include caja (auto, 10rem, $celeste);
        font-size: 1.5rem;
    }

    .a {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .b {
        grid-column: 3;
        grid-row: 1 / 3;
    }
    .c {
        grid-column: 1;
        grid-row: 2;
    }

    .d {
        grid-column: 2;
        grid-row: 2;
    }

    h4 {
        font-size: 1.3rem;
        margin-left: 6rem;
        padding: 2rem;
        padding-bottom: 0;
    }

    p {
        font-size: 1.2rem;
        margin: 2rem;
        letter-spacing: 0.05rem;
        line-height: 2.5rem;
        margin-left: 7rem;
        margin-right: 7rem;
    }       

    .flex-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .div__preguntas {
        letter-spacing: 0.188rem;
        font-size: $tamaño;
        text-align: center;
        padding: 2rem;
        width: 50rem;
    }

    .footer__parrafo {
        font-size: 1.5rem;
    }

    .flex-container1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    form {
        padding: 3rem;
    }

    .separado {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    input {
        margin: 0rem;
        padding: 0rem;
    }

    .boton {
        border-radius: 3px;
        width: 10rem;
        margin-left: 43rem;
        text-align: center;
    }
}

@media only screen and (min-width: 1060px) and (max-width: 1300px) {

    body {
        line-height: 30px;
        width: 100%;
    }
    
    .espacio {
        font-size: 1.5rem;
    }

    .presentacion__titulo {
        font-size: 2.813rem;   
    }

    .presentacion__subtitulo {
        font-size: 1.700rem;        
    }

    .presentacion__h3 {
        font-size: 1.100rem;
    }

    .presentacion__h3--blanco {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    input {
        margin: 0rem;
        padding: 0rem;
    }

    .box {
        @include caja (100%, auto, $celeste);
        margin: 0;
        padding: 1.25rem;
        font-size: 1rem;
    }

    .div__guia {
        display: grid;
        grid-gap: 0.625rem;
        grid-template-columns: auto auto auto;
        margin: 1rem;
    }

    .a {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .b {
        grid-column: 3;
        grid-row: 1 / 3;
    }
    .c {
        grid-column: 1;
        grid-row: 2;
    }

    .d {
        grid-column: 2;
        grid-row: 2;
    }

    #caja {
        @include caja (auto, 12.5rem, $celeste);
        font-size: 1.65rem;
    }

    h4 {
        font-size: 1.3rem;
        color: white;
        margin-left: 6rem;
        padding: 2rem;
        padding-bottom: 0;
        text-transform: uppercase;
    }

    p {
        font-size: 1.5rem;
        margin-right: 5rem;
        margin-left: 5rem;
        line-height: 2rem;
    }       

    .div__preguntas {
        padding: 2rem;
        width: 71.5rem;
        margin-left: 4rem;
    }

    .letra {
        font-size: 1.5rem;
    }

    .footer__parrafo {
        font-size: 1.51rem;
        font-weight: 600;
        line-height: 2rem;
    }

    .flex-container1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    form {
        padding: 1rem;
        margin-left: 10rem;
        width: auto; 
    }

    .separado {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .boton {
        border-radius: 3px;
        width: 10rem;
        margin-left: 43rem;
    }
}

@media only screen and (min-width: 1300px) {

    body {
        line-height: 30px;
        width: 100%;
    }
    
    .espacio {
        font-size: 1.5rem;
    }

    .presentacion__titulo {
        font-size: 2.9rem;   
    }

    .presentacion__subtitulo {
        font-size: 1.8rem;        
    }

    .presentacion__h3 {
        font-size: 1.5rem;
    }

    .presentacion__h3--blanco {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    input {
        margin: 0rem;
        padding: 0rem;
    }

    .box {
        @include caja (100%, auto, $celeste);
        margin: 0;
        padding: 1.25rem;
        font-size: 1rem;
    }

    .div__guia {
        display: grid;
        grid-gap: 0.625rem;
        grid-template-columns: auto auto auto;
        margin: 1rem;
    }

    .a {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .b {
        grid-column: 3;
        grid-row: 1 / 3;
    }
    .c {
        grid-column: 1;
        grid-row: 2;
    }

    .d {
        grid-column: 2;
        grid-row: 2;
    }

    #caja {
        @include caja (auto, 12.5rem, $celeste);
        font-size: 1.65rem;
    }

    h4 {
        font-size: 1.3rem;
        color: white;
        margin-left: 6rem;
        padding: 2rem;
        padding-bottom: 0;
        text-transform: uppercase;
    }

    p {
        font-size: 1.5rem;
        margin-right: 5rem;
        margin-left: 5rem;
        line-height: 2rem;
    }       

    .div__preguntas {
        padding: 2rem;
        width: 90rem;
        margin-left: 2rem;
    }

    .letra {
        font-size: 1.5rem;
    }

    .footer__parrafo {
        font-size: 1.51rem;
        font-weight: 600;
        line-height: 2rem;
    }

    .flex-container1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .form {
        padding: 1rem;
        margin-left: 30rem; 
    }

    .separado {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .boton {
        border-radius: 3px;
        width: 10rem;
        margin-left: 43rem;
    }
}