@charset "UTF-8";
@media only screen and (min-width: 320px) {
  body {
    font-family: 'Josefin Slab', serif;
    width: 100%; }
  input {
    margin: 0.8rem;
    padding: 0.4rem; }
  .presentacion {
    margin: none;
    padding: none; }
  .presentacion__titulo {
    color: #a9ecd6;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.188rem;
    padding: 1.875rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    text-align: center;
    margin-top: 2rem; }
  .presentacion__subtitulo {
    color: #a9ecd6;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.188rem;
    padding: 1.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }
  .presentacion__subtitulo--subrayado {
    text-decoration: underline; }
  .presentacion__h3 {
    color: #569465;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.188rem;
    padding: 1.875rem;
    text-align: center;
    display: flex;
    justify-content: center;
    width: auto; }
  .presentacion__h3--subrayado {
    text-decoration: underline; }
  .presentacion__h3--blanco {
    color: white;
    margin-left: 1rem;
    margin-right: 1rem; }
  header {
    grid-area: header; }
  .horizontal {
    width: 100%; }
  section#presentacion {
    grid-area: presentacion; }
  section#seccion {
    grid-area: seccion; }
  section#servicios {
    grid-area: servicios; }
  .div__guia {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem; }
  .div__h5 {
    color: black;
    padding-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.188rem;
    text-decoration: underline;
    font-weight: 700;
    font-size: 1rem;
    text-align: center; }
  .div__preguntas {
    letter-spacing: 0.1rem;
    font-size: 1rem;
    margin: 1rem;
    text-align: center; }
  h4 {
    font-size: 1.3rem;
    color: white;
    text-align: center;
    padding: 2rem;
    padding-bottom: 0;
    text-transform: uppercase; }
  p {
    font-size: 1rem;
    margin: 2rem;
    letter-spacing: 0.05rem;
    text-align: justify;
    color: white;
    line-height: 1.3rem;
    margin-left: 3rem;
    margin-right: 3rem; }
  .box {
    height: 18rem;
    width: 15rem;
    color: #ccf1ed;
    border: outset 0.188rem #8bc5b7;
    border-radius: 0.313rem;
    padding: 1rem;
    width: 100%;
    font-variant: small-caps;
    font-size: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .Derecha {
    text-align: right; }
  .Centrar {
    text-align: center; }
  #caja {
    height: 18rem;
    width: 17rem;
    color: #ccf1ed;
    font-variant: small-caps;
    font-size: 1rem;
    letter-spacing: 0.188rem;
    margin: 3.2rem;
    display: inline-block; }
  section#informacion {
    grid-area: informacion; }
  .gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px; }
  .tz-gallery {
    padding: 40px; }
  .tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }
  .tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); }
  .tz-gallery img {
    border-radius: 4px; }
  .footer {
    width: 100%;
    font-variant: small-caps;
    color: #404441;
    grid-area: footer;
    display: flex;
    justify-content: center;
    padding: 1.5rem; }
  .footer__parrafo {
    font-weight: 700;
    color: black;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    text-align: center;
    padding: 0;
    margin: 0; }
  .flex-container1 {
    /*entiendo que row viene por default pero igual lo coloco*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  section#formulario {
    grid-area: formulario; }
  .flex-container3 {
    display: flex;
    justify-self: center;
    flex-wrap: wrap; }
  form {
    padding: 1rem; }
  .separado {
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    margin-left: 0.7rem; }
  .carousel {
    padding: 0.6rem; }
  .boton {
    border: solid #175153;
    border-radius: 3px;
    width: 10rem;
    margin-left: 7rem;
    text-align: center; } }

@media only screen and (min-width: 400px) and (max-width: 599px) {
  .box {
    margin-bottom: 1rem; }
  .presentacion__titulo {
    font-size: 1.2rem; }
  .presentacion__subtitulo {
    font-size: 1rem; }
  #caja {
    height: 21rem;
    width: 21rem;
    color: #ccf1ed;
    margin: none;
    width: 79%; }
  form {
    font-size: 1.3rem; } }

@media only screen and (min-width: 600px) and (max-width: 767px) {
  body {
    line-height: 30px;
    width: 100%; }
  .presentacion__titulo {
    font-size: 2.813rem;
    display: flex;
    justify-content: center; }
  .presentacion__subtitulo {
    font-size: 1.688rem;
    margin-left: 2rem; }
  .presentacion__h3 {
    font-size: 1.563rem; }
  .presentacion__h3--blanco {
    color: white;
    text-align: center;
    font-size: 1.2rem; }
  input {
    margin: none;
    padding: none; }
  .box {
    height: 16rem;
    width: auto;
    color: #ccf1ed;
    font-size: 1rem;
    width: 100%; }
  .div__guia {
    display: grid;
    grid-gap: 0.625rem;
    margin: 1rem; }
  .div__h5 {
    font-weight: 700; }
  #caja {
    height: 10rem;
    width: auto;
    color: #ccf1ed;
    font-size: 1.5rem; }
  h4 {
    margin: none; }
  p {
    line-height: 2rem; }
  .footer {
    padding: 2rem; }
  .footer__parrafo {
    font-variant: small-caps;
    font-size: 1.438rem;
    letter-spacing: 0.063rem; }
  .flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
  form {
    padding: 2rem; }
  .separado {
    margin-bottom: 1rem;
    margin-top: 1rem; }
  select {
    margin-left: 0.9rem; }
  textarea {
    margin-left: 0.9rem; }
  .tama単o {
    width: 70%; }
  label {
    font-size: 1.7rem; }
  .boton {
    margin-left: 19rem; }
  .fotoguia {
    width: 550px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .presentacion__titulo {
    font-size: 2.813rem;
    display: flex;
    justify-content: center; }
  .presentacion__subtitulo {
    font-size: 1.688rem;
    margin-left: 2rem; }
  .presentacion__h3 {
    font-size: 1.563rem; }
  .presentacion__h3--blanco {
    color: white;
    text-align: center;
    font-size: 1.2rem; }
  input {
    margin: none;
    padding: none; }
  .box {
    height: 16rem;
    width: auto;
    color: #ccf1ed;
    font-size: 1rem;
    width: 100%; }
  .div__guia {
    display: grid;
    grid-gap: 0.625rem;
    margin: 1rem; }
  .div__h5 {
    font-weight: 700; }
  #caja {
    height: 10rem;
    width: auto;
    color: #ccf1ed;
    font-size: 1.5rem; }
  h4 {
    margin: none; }
  p {
    line-height: 2rem; }
  .footer {
    padding: 2rem; }
  .footer__parrafo {
    font-variant: small-caps;
    font-size: 1.438rem;
    letter-spacing: 0.063rem; }
  .flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
  form {
    padding: 2rem; }
  .separado {
    margin-bottom: 1rem;
    margin-top: 1rem; }
  select {
    margin-left: 0.9rem; }
  textarea {
    margin-left: 0.9rem; }
  .tama単o {
    width: 70%; }
  label {
    font-size: 1.7rem; }
  .boton {
    margin-left: 19rem; } }

@media only screen and (min-width: 992px) and (max-width: 1060px) {
  body {
    line-height: 30px;
    width: 100%; }
  .espacio {
    font-size: 1.5rem; }
  .box {
    height: auto;
    width: 100%;
    color: #ccf1ed;
    padding: 1.25rem;
    font-size: 1rem; }
  .presentacion__titulo {
    font-size: 2.813rem; }
  .presentacion__subtitulo {
    font-size: 1.8rem; }
  .presentacion__h3 {
    font-size: 1.6rem; }
  .div__guia {
    display: grid;
    grid-gap: 0.625rem;
    margin: 2.5rem; }
  #caja {
    height: 10rem;
    width: auto;
    color: #ccf1ed;
    font-size: 1.5rem; }
  .a {
    grid-column: 1 / 3;
    grid-row: 1; }
  .b {
    grid-column: 3;
    grid-row: 1 / 3; }
  .c {
    grid-column: 1;
    grid-row: 2; }
  .d {
    grid-column: 2;
    grid-row: 2; }
  h4 {
    font-size: 1.3rem;
    margin-left: 6rem;
    padding: 2rem;
    padding-bottom: 0; }
  p {
    font-size: 1.2rem;
    margin: 2rem;
    letter-spacing: 0.05rem;
    line-height: 2.5rem;
    margin-left: 7rem;
    margin-right: 7rem; }
  .flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .footer__parrafo {
    font-size: 1.5rem; }
  .flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
  form {
    padding: 3rem; }
  .separado {
    margin-bottom: 1rem;
    margin-top: 1rem; }
  input {
    margin: 0rem;
    padding: 0rem; }
  .boton {
    border-radius: 3px;
    width: 10rem;
    margin-left: 43rem;
    text-align: center; } }

@media only screen and (min-width: 1060px) and (max-width: 1300px) {
  body {
    line-height: 30px;
    width: 100%; }
  .espacio {
    font-size: 1.5rem; }
  .presentacion__titulo {
    font-size: 2.813rem; }
  .presentacion__subtitulo {
    font-size: 1.700rem; }
  .presentacion__h3 {
    font-size: 1.100rem; }
  .presentacion__h3--blanco {
    margin-left: 5rem;
    margin-right: 5rem; }
  input {
    margin: 0rem;
    padding: 0rem; }
  .box {
    height: auto;
    width: 100%;
    color: #ccf1ed;
    margin: 0;
    padding: 1.25rem;
    font-size: 1rem; }
  .div__guia {
    display: grid;
    grid-gap: 0.625rem;
    grid-template-columns: auto auto auto;
    margin: 1rem; }
  .a {
    grid-column: 1 / 3;
    grid-row: 1; }
  .b {
    grid-column: 3;
    grid-row: 1 / 3; }
  .c {
    grid-column: 1;
    grid-row: 2; }
  .d {
    grid-column: 2;
    grid-row: 2; }
  #caja {
    height: 12.5rem;
    width: auto;
    color: #ccf1ed;
    font-size: 1.65rem; }
  h4 {
    font-size: 1.3rem;
    color: white;
    margin-left: 6rem;
    padding: 2rem;
    padding-bottom: 0;
    text-transform: uppercase; }
  p {
    font-size: 1.5rem;
    margin-right: 5rem;
    margin-left: 5rem;
    line-height: 2rem; }
  .letra {
    font-size: 1.5rem; }
  .footer__parrafo {
    font-size: 1.51rem;
    font-weight: 600;
    line-height: 2rem; }
  .flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
  form {
    padding: 1rem;
    margin-left: 10rem;
    width: auto; }
  .separado {
    margin-bottom: 1rem;
    margin-top: 1rem; }
  .boton {
    border-radius: 3px;
    width: 10rem;
    margin-left: 43rem; } }

@media only screen and (min-width: 1300px) {
  body {
    line-height: 30px;
    width: 100%; }
  .espacio {
    font-size: 1.5rem; }
  .presentacion__titulo {
    font-size: 2.9rem; }
  .presentacion__subtitulo {
    font-size: 1.8rem; }
  .presentacion__h3 {
    font-size: 1.5rem; }
  .presentacion__h3--blanco {
    margin-left: 5rem;
    margin-right: 5rem; }
  input {
    margin: 0rem;
    padding: 0rem; }
  .box {
    height: auto;
    width: 100%;
    color: #ccf1ed;
    margin: 0;
    padding: 1.25rem;
    font-size: 1rem; }
  .div__guia {
    display: grid;
    grid-gap: 0.625rem;
    grid-template-columns: auto auto auto;
    margin: 1rem; }
  .a {
    grid-column: 1 / 3;
    grid-row: 1; }
  .b {
    grid-column: 3;
    grid-row: 1 / 3; }
  .c {
    grid-column: 1;
    grid-row: 2; }
  .d {
    grid-column: 2;
    grid-row: 2; }
  #caja {
    height: 12.5rem;
    width: auto;
    color: #ccf1ed;
    font-size: 1.65rem; }
  h4 {
    font-size: 1.3rem;
    color: white;
    margin-left: 5rem;
    padding: 2rem;
    padding-bottom: 0;
    text-transform: uppercase; }
  p {
    font-size: 1.5rem;
    margin-right: 5rem;
    margin-left: 5rem;
    line-height: 2rem; }
  .letra {
    font-size: 1.5rem; }
  .footer__parrafo {
    font-size: 1.51rem;
    font-weight: 600;
    line-height: 2rem; }
  .flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
  .form {
    padding: 1rem;
    margin-left: 30rem; }
  .separado {
    margin-bottom: 1rem;
    margin-top: 1rem; }
  .boton {
    border-radius: 3px;
    width: 10rem;
    margin-left: 43rem; }
  .foto {
    width: 50rem;
    margin-left: 19rem; } }

@media only screen and (min-width: 320px) {
  .fondo {
    background-color: #d9f3f0; }
  .section__color {
    background-color: #175153; }
  .section__color--claro {
    background-color: #d9f3f0; }
  .section__color--semiclaro {
    color: #ccf1ed; }
  .colorpreguntas {
    color: #a9ecd6; } }

@media only screen and (min-width: 320px) {
  #grilla {
    display: grid;
    grid-template-areas: "header header header" "presentacion presentacion presentacion" "servicios servicios servicios" "informacion informacion informacion" "footer footer footer"; }
  #grillacontacto {
    display: grid;
    grid-template-areas: "header header header" "formulario formulario formulario" "footer footer footer"; }
  #grillagaleria {
    display: grid;
    grid-template-areas: "header header header" "seccion seccion seccion" "footer footer footer"; }
  #grillaguias {
    display: grid;
    grid-template-areas: "header header header" "seccion seccion seccion" "footer footer footer"; }
  #grillaguiasamerica {
    display: grid;
    grid-template-areas: "header header header" "seccion seccion seccion" "footer footer footer"; }
  #grillaguiasargentina {
    display: grid;
    grid-template-areas: "header header header" "seccion seccion seccion" "footer footer footer"; }
  #grillaguiaseuropa {
    display: grid;
    grid-template-areas: "header header header" "seccion seccion seccion" "footer footer footer"; }
  #grillaguiassudamerica {
    display: grid;
    grid-template-areas: "header header header" "seccion seccion seccion" "footer footer footer"; }
  #grillanosotros {
    display: grid;
    grid-template-areas: "header header header" "seccion seccion seccion" "footer footer footer"; } }

@media only screen and (min-width: 320px) {
  .mayuscula {
    font-variant: small-caps; }
  .subrayado {
    text-decoration: underline; }
  label {
    font-variant: small-caps; }
  input {
    font-variant: small-caps; }
  select {
    font-variant: small-caps;
    width: 100%; }
  .centrar {
    display: flex;
    justify-content: center; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .tama単o {
    font-size: 1.3rem; } }

@media only screen and (min-width: 1024px) {
  .tama単o {
    font-size: 1.5rem; } }

@media only screen and (min-width: 320px) {
  .transiciones {
    transition: 1.5s;
    cursor: pointer; }
  .transiciones:hover {
    height: 170px;
    width: 270px; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .transiciones:hover {
    height: 350px;
    width: 570px; } }

@media only screen and (min-width: 1024px) {
  .transiciones {
    transition: 1.5s;
    cursor: pointer; }
  .transiciones:hover {
    height: 350px;
    width: 550px; } }

@media only screen and (min-width: 320px) {
  .bordesRedondeados {
    border-radius: 1.563rem; }
  .imagen {
    padding: 1rem;
    width: 15rem;
    margin-left: 1rem; }
  .iconos {
    width: 2rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .imgMediana {
    width: 37.5rem; }
  .iconos {
    width: 2rem; }
  .imagen {
    padding: 1rem;
    width: 20rem;
    margin-left: 1rem; } }

@media only screen and (min-width: 1024px) {
  img {
    margin: auto;
    width: 10rem; }
  .iconos {
    width: 2rem; }
  .imagen {
    padding: 1rem;
    width: 25rem;
    margin-left: 1rem; }
  .bordesRedondeados {
    border-radius: 2.5rem; } }
